body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('https://cdn-media.sforum.vn/storage/app/media/ctvseo_MH/%E1%BA%A3nh%20%C4%91%E1%BA%B9p%20c%E1%BA%A7n%20th%C6%A1/anh-dep-can-tho-7.jpg    ');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container img {
    width: 80px;
}

.login-container h2 {
    color: #f47d07;
    margin-bottom: 20px;
}
        
.login-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
    
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #f4b400;
    border: none;
     border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.login-container button:hover {
    background-color: #e0a800;
}