body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f9fafb;
}

/* TOPBAR */
.topbar {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper img {
  height: 35px;
  margin-right: 10px;
}

.logo-wrapper span {
  font-weight: bold;
  font-size: 1.2rem;
  color: #fbbf24;
}

.topbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 250px;
  height: calc(100% - 60px);
  background-color: #0f172a;
  color: white;
  padding: 20px;
}

.sidebar .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .menu li {
  margin-bottom: 15px;
}

.sidebar .menu a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar .menu i {
  margin-right: 10px;
}

.sidebar .menu li a:hover {
  background-color: #2a3d4d;
}
/* MAIN CONTENT */
.main-content {
  margin-left: 250px;
  margin-top: 60px;
  padding: 30px;
  text-align: center;
}

/* Card */
.main-content .card {
  max-width: 250px;
  height: 320px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.main-content .card-img-top {
  max-width: 250px;
  height: 150px;
}
.main-content .card-body {
  padding: 0 10px;
  max-height: 150px;
}
.main-content .filters {
  justify-content: space-between !important;
  display: flex;
}

/* MARQUEE HOVER TEXT */
.marquee-hover {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  max-width: 100%;
}

.marquee-hover span {
  display: inline-block;
  white-space: nowrap;
  transform: translateX(0);
  transition: transform 0s;
}

.marquee-hover:hover span {
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* backspace and title */
.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
}

.back-icon {
  position: absolute;
  left: 0;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.back-icon:hover {
  color: #2b9831;
  transform: scale(1.05);
}

.page-title {
  margin: 0;
}

/* module name and class name */
.class_info {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f5f7fa;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.class_label,
.module_label {
  font-weight: bold;
  color: #333;
}

.class_name,
.module_name {
  font-weight: 500;
  color: #2c3e50;
}
