body{
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f9fafb;
}

/* Topbar */
.topbar {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper img {
  height: 35px;
  margin-right: 10px;
}

.logo-wrapper span {
  font-weight: bold;
  font-size: 1.2rem;
  color: #fbbf24; 
}
.topbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 250px;
  height: calc(100% - 56px);
  background-color: #0f172a;;
  color: #fff;
  z-index: 9999999;
  padding: 20px;
}


.sidebar .menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .menu li {
  margin-bottom: 15px;
}

.sidebar .menu a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar .menu i {
  margin-right: 10px;
}

.sidebar .menu li a:hover {
  background-color: #2a3d4d;
}


/* Main content */
.main-content {
  margin-left: 250px;
  margin-top: 60px;
  padding: 30px;
}

/* Summary Cards */
.summary-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  text-align: center;
}

.summary-card .card {
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.summary-card .yellow {
  background-color: #ffc107;
}

.summary-card .red {
  background-color: #dc3545;
}

.summary-card .blue {
  background-color: #0d6efd;
}

.summary-card .teal {
  background-color: #20c997;
}

/* Table */
table {
  width: 100%;
  margin-top: 1rem;
  border-collapse:separate;
  text-align: center;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table thead {
  background-color: #f8f9fa;
}
